
 <table width="100%"><tr><td>
            <a href="index.html?root=dashboard">
                <span class="oj-navigationlist-item-icon
                      demo-home-icon-24 demo-icon-font-24">
                </span>
                Home
            </a>
        </td><td><b>空气质量检测</b></td><td></td></table>
<hr>
<div id='chart-container'>
    <div style="float:left;line-height:32px;font-weight:bold;padding-right:16px">
        历史数据图标:
    </div>
    
    <div id="lineChart" data-bind="ojComponent: {
            component: 'ojChart', 
            type: 'line',
            series: lineSeriesValue, 
            groups: lineGroupsValue,
            animationOnDisplay: 'auto',
            animationOnDataChange: 'auto',
            styleDefaults: {lineType: ko.toJS(lineTypeValue), markerDisplayed: 'on'},
            orientation: orientationValue
        }"
         style="max-width:500px;width:100%;height:350px;">
    </div>
    
    <br><br><br><br>
   
</div>
